body {
  background-color: #fcfcfb;
}

/* HEADER*/

.header {
  padding: 20px 40px;
}

.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_header img {
  height: 50px;
}

/* footer */

.footer {
  background-color: #d7e1eb;
  padding: 30px 20px;

  display: flex; /* enable flexbox */
  flex-direction: column; /* stack items vertically */
  justify-content: center; /* center vertically */
  align-items: center; /* center horizontally */

  text-align: center; /* center text inside each element */
  gap: 20px;
  font-family: sans-serif;
}

/* Logo */
.footer_logo img {
  width: 100%;
  max-width: 120px; /* optional: keeps it tidy */
}

/* Contact info */
.footer_info {
  font-size: 16px;
  color: #2b4862;
  line-height: 1.6;
}

/* Button */
.se_projekter_footer_knap a {
  font-size: 20px;
  font-family: "Liu Jian Mao Cao", cursive;
  color: #496a89;
  background-color: #fcfcfb;
  border: 1px solid #496a89;
  text-decoration: none;
  padding: 10px 20px;
}

hr {
  color: #324c65;
  border: none;
  height: 2px;
  background-color: #496a89;
  width: 80%;
  margin: 20px auto;
  border-radius: 4px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.tema_btn_container {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 80px;
}

.btn_t2,
.btn_t3,
.btn_t4,
.btn_t5 {
  font-size: 24px;
  font-family: "Liu Jian Mao Cao", cursive;
  color: #d4b890;
  border: 1px solid #b89d76;
  text-decoration: none;
  padding: 10px 20px;
  transition: color 0.3s ease;
}

.btn_t2:hover,
.btn_t3:hover,
.btn_t4:hover,
.btn_t5:hover {
  color: #2b4862;
}

/* ---------------------- */
/* DESKTOP      */
/* ---------------------- */

@media (min-width: 768px) {
  .main_nav {
    display: block;
  }

  .main_nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
  }

  .main_nav a {
    text-decoration: none;
    font-weight: 500;
    color: #496a89;
    font-size: 18px;
    transition: color 0.3s ease;
  }

  .main_nav a:hover {
    color: #2b4862;
  }

  .footer {
    flex-direction: row; /* row instead of column */
    justify-content: space-between;
    align-items: center;
    text-align: left; /* so contact text aligns nicely */
  }
  .footer_logo {
    flex: 0 0 auto; /* logo stays on the left */
  }
  .footer_info {
    flex: 1; /* takes center space */
    text-align: center;
  }
  .se_projekter_footer_knap {
    flex: 0 0 auto; /* button on the right */
  }
  .tema_btn_container {
    margin-top: 90px;
    margin-bottom: 100px;
  }
  .btn_t2,
  .btn_t3,
  .btn_t4,
  .btn_t5 {
    font-size: 38px;
  }
}
