.hero_img {
  width: 100%;
}

.hero_img img {
  width: 95%;
  height: auto;
  display: block;
  object-fit: cover;
  margin: 10px;
}

/* se projekter knap knap 1 */

.se_projekter_knap_1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.se_projekter_knap_1 a {
  font-size: 28px;
  font-family: "Liu Jian Mao Cao", cursive;
  font-weight: 400;
  font-style: normal;
  color: #496a89;
  border-bottom: 1px solid #496a89;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 20px;
}

.se_projekter_knap_1 a:hover {
  color: #183458;
}

/* knap 2 */

.btn_img {
  position: relative;
  display: inline-block;
}
.btn_img img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.se_projekter_knap_2 {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.se_projekter_knap_2 a {
  font-size: 20px;
  display: inline-block;
  font-family: "Liu Jian Mao Cao", cursive;
  font-weight: 400;
  font-style: normal;
  color: #496a89;
  border: 1px solid #496a89;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 10px;
}

.se_projekter_knap_1 a:hover {
  color: #183458;
}

.se_projekter_knap_2 a:hover {
  color: #183458;
}
/* velkommen */

.velkommen_baggrund {
  background-color: #f3e9dd;
  padding: 40px;
}

.velkommen_indhold {
  background-color: #fcfcfb;
  padding: 30px 20px;
  max-width: 700px;
  margin: 0 auto;

  text-align: center;
}

.velkommen_title h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #2b4862;
}

.velkommen_tekst p {
  font-size: 1rem;
  line-height: 2;
  max-width: 600px;
  margin: 0 auto 30px;
  align-items: center;
}

.velkommen_img img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 0 auto 30px;
  display: block;
}

.btn_img img {
  width: 100%;
}

@media (min-width: 768px) {
  .hero_img {
    width: 65%;
    margin-left: 19%;
  }
  .se_projekter_knap_1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
  }

  .se_projekter_knap_1 a {
    font-size: 36px;
  }

  .velkommen_indhold {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    max-width: 1250px;
    margin: 60px auto;
  }
  .velkommen_title {
    grid-column: 1 / 3;
    text-align: center;
    margin-bottom: 50px;
  }

  .velkommen_title h1 {
    font-size: 54px;
  }
  .velkommen_tekst {
    grid-column: 1;
  }
  .velkommen_tekst p {
    font-size: 30px;
    text-align: center;
  }
  .velkommen_img {
    grid-column: 2;
  }
  .velkommen_img img {
    width: 100%;
    height: auto;
    display: block;
  }
  .btn_img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    left: 50%;
  }
  .btn_img img {
    width: 100%;
    height: auto;
    display: block;
  }
  .se_projekter_knap_2 {
    position: absolute;
    bottom: 110px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .se_projekter_knap_2 a {
    font-size: 36px;
    padding: 14px 26px;
    white-space: nowrap;
  }
}
