.ommig_title img {
  width: 60%;
  margin-left: 100px;
  margin-top: 20px;
}

.ommig_tekst {
  place-content: center;
  margin: 20px 60px;
}
.ommig_tekst p {
  text-align: center;
  margin: 30px;
  font-size: 20px;
}
.ommig_selvportrat {
  place-content: center;
}
.ommig_selvportrat img {
  width: 60%;
  height: auto;
  display: block;
  object-fit: cover;
  margin-left: 110px;
  margin-bottom: 30px;
}

.reflection {
  background-color: #f5efe7;
  padding: 50px; 
}
.reflection_text_container {
  background-color: #fcfcfb;
  padding: 40px;
  margin: 0; 
}

.reflection h2,
p {
  text-align: center;
}
.reflection h2 {
  font-size: 28px;
}
.reflection p {
  font-size: 18px;
  line-height: 2;
}

.kontakt_mig_title h2 {
  text-align: center;
  font-size: 38px;
}

.kontakt_oplysninger {
  text-align: center;
  margin-right: 50px;
}
.kontakt_oplysninger ul {
  font-size: 20px;
  line-height: 2;
}

.kontakt_oplysninger a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease;
}

.kontakt_oplysninger a:hover {
  text-decoration: none;
  color: #264b7c;
}

.kontakt_mig_img img {
  width: 35%;
  margin-left: 150px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .ommig_title img {
    width: 40%;
    margin-left: 30%;
  }

  .ommig_grid1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
    max-width: 1200px;
    margin: 60px auto;
    padding: 40px 20px;
    background-color: #fcfcfb;
  }

  .ommig_tekst p {
    font-size: 22px;
    line-height: 1.8;
    margin-bottom: 20px;
  }

  .ommig_selvportrat img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    object-fit: cover;
  }

  .reflection {
    padding: 100px 200px;
  }

  .reflection h2 {
    font-size: 36px;
  }
  .reflection p {
    font-size: 22px;
    margin: 50px;
  }

  .kontakt_mig_container {
    max-width: 1100px;
    margin: 60px auto;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: 1fr 1.2fr; 
    align-items: center;
    gap: 40px;
  }

  .kontakt_mig_img {
    grid-column: 1;
    grid-row: 1 / 3; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .kontakt_mig_img img {
    width: 50%;
    max-width: 400px;
    height: auto;
    display: block;
  }
  .kontakt_mig_title {
    grid-column: 2;
    text-align: center;
  }
  .kontakt_mig_title h2 {
    font-size: 38px;
    color: #2b4862;
    margin-right: 12px;
  }
  .kontakt_oplysninger {
    grid-column: 2;
    text-align: center;
    color: black;
    font-size: 24px;
    line-height: 1.8;
  }

  .kontakt_oplysninger li {
    list-style: none;
  }

  .kontakt_oplysninger a {
    color: black;
    text-decoration: none;
  }
}
