.t5_title img {
  width: 100%;
  margin-top: 20px;
}

.t5_knap1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 150px;
  margin-bottom: 100px;
}

.t5_knap1 a {
  font-size: 18px;
  font-family: "Liu Jian Mao Cao", cursive;
  font-weight: 400;
  font-style: normal;
  color: #496a89;
  border: 1px solid #496a89;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 15px;
}

.t5_knap1 a:hover {
  color: #183458;
}

.omtemaet_t5 {
  background-color: #f5efe7;
  padding: 30px;
  margin-bottom: 70px;
}

.omtemaet_t5 h2 {
  text-align: center;
  font-size: 38px;
}

.omtemaet_t5 p {
  text-align: center;
  line-height: 2;
  font-size: 18px;
}

.process_t5 h2 {
  color: #324c65;
  text-align: center;
  font-size: 38px;
}

.process_t5_1_tekst p,
.process_t5_2_tekst p,
.process_t5_3_tekst p,
.process_t5_4_tekst p {
  text-align: center;
  margin: 10px 30px;
  font-size: 18px;
  line-height: 2;
}

.t5_img1 img,
.t5_img2 img,
.t5_img3 img,
.t5_img4 img {
  width: 90%;
  margin: 10px 20px;
}

.t5_squiggle {
  position: relative;
  display: inline-block;
}
.t5_squiggle img {
  width: 100%;
  height: auto;
  display: block;
}

.t5_knap2 {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.t5_knap2 a {
  font-size: 22px;
  text-align: center;
  display: inline-block;
  font-family: "Liu Jian Mao Cao", cursive;
  font-weight: 400;
  font-style: normal;
  color: #496a89;
  border: 1px solid #496a89;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 10px;
}

.t5_knap2 a:hover {
  color: #183458;
}

@media (min-width: 768px) {
  .t5_title img {
    width: 75%;
    margin-top: 50px;
    margin-left: 12.5%;
  }

  .t5_knap1 {
    margin-left: 35%;
  }

  .t5_knap1 a {
    font-size: 22px;
  }

  .omtemaet_t5 {
    padding: 50px 70px;
    margin: 70px 150px;
  }

  .omtemaet_t5 h2 {
    font-size: 48px;
  }

  .omtemaet_t5 p {
    font-size: 20px;
  }

  .process_t5 h2 {
    font-size: 48px;
  }

  .process_t5_1,
  .process_t5_3 {
    display: flex;
    margin: 10px 70px;
  }

  .process_t5_1_tekst,
  .process_t5_2_tekst,
  .process_t5_3_tekst,
  .process_t5_1_tekst {
    max-width: 50%;
  }

  .process_t5_1_tekst p {
    font-size: 20px;
    margin-top: 60px;
  }

  .process_t5_2_tekst p,
  .process_t5_3_tekst p {
    font-size: 20spx;
  }

  .process_t5_4_tekst p {
    font-size: 20px;
    margin-top: 50px;
  }

  .t5_img1 img {
    margin-top: 70px;
  }

  .t5_img2 img {
    margin-top: 80px;
  }

  .t5_img3 img {
    margin-top: 30px;
  }

  /* process del 2 */
  .process_t5_2,
  .proces_t5_4 {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 70px;
  }

  .process_t4_2_tekst p {
    margin-top: 90px;
  }

  .t4_img2 img {
    margin-top: 50px;
  }

  /* squiggle knap */
  .t4_squiggle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
  }
  .t4_squiggle img {
    width: 60%;
    height: auto;
    display: block;
  }
  .t4_knap2 {
    position: absolute;
    bottom: 170px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .t4_knap2 a {
    font-size: 36px;
    padding: 14px 26px;
    white-space: nowrap;
  }

  /* squiggle knap */
  .t5_squiggle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
  }
  .t5_squiggle img {
    width: 60%;
    height: auto;
    display: block;
  }
  .t5_knap2 {
    position: absolute;
    bottom: 170px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  .t5_knap2 a {
    font-size: 36px;
    padding: 14px 26px;
    white-space: nowrap;
  }
}
